@import '../../assets/scss/variables.scss';

$avater-size: 38px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid $border-color;

  & h1 {
    font-weight: 600;
    font-size: 20px;
  }
}

.avater {
  width: $avater-size;
  height: $avater-size;
  border-radius: $avater-size;
}