@import '../../assets/scss/variables.scss';

:global {
  .el-aside {
    display: flex;
    width: auto !important;
    height: 100%;
  }

  .el-menu:not(.el-menu--collapse) {
    width: 200px;
  }

  .el-menu-item {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

:global(.el-menu-item).header {
  height: $header-height;
  border-bottom: 1px solid $border-color;
}

:global(.el-button--mini.is-circle).sidebarButton {
  padding: 0;
}

.logoContainer {
  flex: 1;
  text-align: center;
}

.logo {
  height: 46px;
}
